@media only screen and (min-width: 992px) {
.item_shortvideo ,.loading_item_shortvideo{
    height: 220px;
    width: calc((100% / 3) - 7px - 3px);
}
}
@media only screen and (min-width: 768px)  and (max-width: 992px) {
.item_shortvideo ,.loading_item_shortvideo{
    height: 200px;
    width: calc((100% / 3) - 7px - 3px);
}
}
@media only screen and (min-width: 600px)  and (max-width: 768px){
.item_shortvideo ,.loading_item_shortvideo{
    height: 180px;
    width: calc((100% / 2) - 11px);
} 
}
@media only screen and (max-width: 600px)  {
.item_shortvideo,.loading_item_shortvideo{
    height: 160px;
    width: calc((100% / 2) - 11px);
}
}